.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

h2 {
    align-self: center;
    margin: 13px 20px;
}

.modal-body {
    display: flex;
    flex-flow: column;
    width: 700px;
    border-radius: 5px;
    background: #fff;
    height: 70vh;
    padding-bottom: 0;
}

.modal-body p {
    margin-top: 3%;
    align-self: center;
}

.modal-body img {
    align-self: center;
    width: 96%;
    height: 70%; 
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.6);
}

.modal-buttons {
    height: 40px;
    margin-top: 1%;
    align-self: center;
}

.add-button {
    margin-right: 5px;
    width: 120px;
    height: 40px;
    background-color: rgb(58, 156, 66);
    color:white;
    border: 0px;
    font-size: 15px;
}

.add-button:hover {
    background-color: rgb(59, 182, 69);
}

.close-button {
    margin-left: 5px;
    width: 120px;
    height: 40px;
    background-color: rgb(170, 63, 63);
    color:white;
    border: 0px;
    font-size: 15px;
}

.close-button:hover {
    background-color: rgb(192, 60, 60);
}